#root {
  display: flex;
  min-height: fit-content;
  width: 100%;
}

.left {
  flex: 1;
  background-color: black;
}

.right {
  flex: 1;
  background-color: gray;
}

h1 {
  text-align: center;
  padding: 24px;
}

@media (max-width: 1024px) {
  #root {
    flex-direction: column;
  }
}

section {
  background-color: darkgray;
  border-radius: 16px;
  width: clamp(0px, 90vw, 480px);
  margin: 0px auto 32px;
  padding: 36px;
}

.date-wrapper {
  display: flex;
  gap: 32px;
}

.date-wrapper .input {
  flex: 1;
}

@media (max-width: 440px) {
  .date-wrapper {
    display: block;
  }

}

.button-wrapper {
  display: flex;
  justify-content: right;
  gap: 8px;
  margin-top: 16px;
}