.input {
    margin: 8px 0px;
}

.input label,
.input input,
.input textarea {
    display: block;
    width: 100%;
}

.input textarea {
    resize: vertical;
    min-height: 60px;
}

.input input,
.input textarea {
    border: 1px solid #71C9CE;
    border-radius: 8px;
    transition: 0.3s;
}
